{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
<div class="container">
    <div class="content">
        <div class="header">
            <h1>Liste des Commandes</h1>
        </div>
        {% if sort == 'desc' %}
            <a href="{{ path('listOrder', {'sort': 'asc'}) }}" >
                <button type="button" class="btn btn-success">Trier par date ascendant</button>
            </a>
        {% else %}
            <a href="{{ path('listOrder', {'sort': 'desc'}) }}" >
                <button type="button" class="btn btn-success">Trier par date descendant</button>
            </a>
        {% endif %}
        {% for order in orders %}
            <div>
                <div class="body">
                    <div class="item header-item">
                        <div class="title">Produit</div>
                        <div class="price">Prix unitaire</div>
                        <div class="quantity">Quantité</div>
                        <div class="option">Supprimer</div>
                    </div>
                    {% for item in order.items %}
                        <div class="item">
                            <div class="title">{{ item.product.name }}</div>
                            <div class="price">{{ item.product.price }}€</div>
                            <div class="quantity">{{ item.quantity }}</div>
                            <div class="option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="footer">
                    <div class="total">
                        <div class="total-container">
                            <p>Date : {{ order.orderDate|date("d/m/Y H:i:s") }}</p>
                            <p>Status : {{ order.status }}</p>
                            <p class="total-ttc">Prix Total TTC: {{ order.price }}€</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <a href="{{ path('addOrder') }}" >
            <button type="button" class="btn btn-success">Ajouter une commande</button>
        </a>
    </div>
</div>
{% endblock %}